html
{
	height: 100%;
}

body
{
	font-family:"Roboto";
	color: #FFFFFF;
	background: #0F0F0F;
	font-weight: 100;
	height: 100%;
	margin: 0;
	text-align: center;
}

body::before
{
	content: "";
	display: inline-block;
	width: 0px;
	height: 100%;
	vertical-align: middle;
}

body > div
{
	display: inline-block;
}

#name
{
	font-size: 96pt;
	margin-bottom: 0.25em;
}

#links
{
	display: flex;
	justify-content: space-around;
}

a
{
	outline-color: #FFFFFF;
	transition: 0.25s;
}

a:not(:hover)
{
	opacity: 0.75;
}

img
{
	vertical-align: bottom;
}
