#main
{
	margin: auto;
	width: 800px;
}

#gameContainer
{
	margin: auto;
	background-color: black;
	width: 800px;
	height: 600px;
}

body
{
	font-family: sans-serif;
}

.fineprint
{
	font-size: 8pt;
	font-style: italic;
}